services:
  splitmix:
    image: splitmix:1.1.0
    build:
      context: .
      dockerfile: Dockerfile
    container_name: splitmix
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    environment:
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
      - STREAMLIT_SERVER_PORT=8501